{
  "extends": "stylelint-config-recommended-scss",
    "plugins": [
      "stylelint-scss"
    ],
    rules: {
      declaration-block-no-shorthand-property-overrides: null,
      no-descending-specificity: null,
    }
  }
